body { font-family: 'Rajdhani', sans-serif; font-size: 1.3rem; font-weight:500; line-height: 2.5rem;}

.pd10 { padding:10px 0;}
.pd15 { padding:15px 0;}
.pd20 { padding:20px 0;}
.pd30 { padding:30px 0;}
.pd40 { padding:40px 0;}
.pd50 { padding:5rem 0;}
.pd60 { padding:60px 0;}

.font18 { font-size:1.5rem;}
.font20 { font-size:20px;}
.font22 { font-size:22px;}
.font24 { font-size:24px;}
.font08 { font-size: 0.8rem !important; line-height: 1.5rem;}
.font10 { font-size: 1rem !important}
.font12 { font-size: 1.2rem !important}

h2{font-size: 2.5rem}

.headerStyle1 { padding-bottom:40px;}
.headerStyle1 h2  { font-weight:bold;}

.container{
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 50px;
  max-width:1440px;
}

.txt_blue { color:#1d2a78;}
.know_more a { color:#1a2d78; text-decoration:underline; font-weight:bold;}
.know_more a:hover { text-decoration:none;}

.main_wrapper {}
.banne_wrapper img { width:100%; }


.abt_money_row {}
.abt_row h5 { margin:0px; padding:0px; font-size: 1.5rem;}

.home_top_social_row {padding-bottom: 60px;}
.logo_box { background:#fff; border:0px solid #9AA7A9; border-radius:6px; padding:15px; position:absolute; top:-110px; left:0px; text-align:center; 
            box-shadow:  -5px 5px 15px 5px rgba(0,0,0,0.16); width:100%; z-index: 999;}
.boxLogo { padding:20px 0 40px;}
.logo_box p { margin:0px; padding:0 0 10px; color:#1d2a78; font-size: 1.2rem; line-height:1.4rem;}
.logo_box a { color:#1d2a78; font-weight:bold; }
.gplay-icon{max-width: 70%}
.ruppee_row ul { margin:0px; padding:20px 0; font-size:14px; font-weight:bold;}
.ruppee_row li { margin:0px; padding:0 20px 0 0; float:left; list-style:none; width:200px}
.ruppee_row li img { padding-right:15px;}
.abt_wrapper { padding-bottom:5rem;}
.abt_wrapper h2 { padding-bottom:4rem; font-weight:700;}
.abt_wrapper p { /*column-count: 2;*/}

.add_white_box { background:#fff; border-radius:6px; padding:30px; box-shadow:  0px 0px 15px 5px rgba(0,0,0,0.16); width:100%; text-align:center;}
.add_white_box ul { margin:0px; padding:0 0 0 80px;}
.add_white_box li { width:19%; margin:0px; padding:0 15px; list-style:hebrew; display:inline-block; font-weight:bold; vertical-align:middle; text-align:left;}

.add_white_box li img { height:50px; padding-right:15px;  vertical-align:middle}
.add_white_box li span { font-size: 1rem; display:inline-block; line-height:16px;}
.add_white_box li:last-child { width:20%; padding:0;}
.add_white_box li:nth-child(2) span { position:relative; top:10px; }
.youtube-video { width:100%; height:100%; }
.video_wrapper { /*background:#1d2a78; padding:100px 0; text-align:center; color:#fff;*/ height: 75vh;}
.video_wrapper a { color:#fff; text-decoration:none; }
.video_wrapper img { padding-bottom:10px;}

.why_loan_section {}
.why_loan_wrapper { padding-bottom:5rem;}
.why_loan_wrapper figure { padding:0px; margin-bottom:20px;}
.why_loan_wrapper figure img { border-radius:5px; box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4);}
.why_loan_wrapper figcaption { line-height:2rem;}
.why_loan_wrapper figcaption a { color:#1a2d78; text-decoration:none; line-height:2rem;}
.why_loan_wrapper figcaption .know_more a { margin-top:20px; display:inline-block; text-decoration:underline;}
.why-left-img{
  float: left;
  margin-right: 50px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.why-right-img{
  float: right;
  margin-left: 50px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.how_fast_wrapper {}
.group_img_box { padding:0 100px;}
.how_fast_wrapper .learn_more { /*padding-top:30px;*/}
.learn_more { display:block;}
.learn_more a { background:#1d2a78; color:#fff; font-weight:500; text-transform:none; padding:10px 30px; border-radius:6px; text-transform:uppercase; transition: all 0.2s ease-in-out 0s; display:inline-block; box-shadow: 0 25px 15px rgba(0,0,0,0.2);}
.learn_more a:hover { text-decoration:none; box-shadow: 0 5px 5px rgba(0,0,0,0.2); padding:20px 25px;}
.form_blue_section { background:#72A6D8;}
.form_blue_box1 { padding-right:30px;}
.form_blue_box1 h2 { padding:30px 0 20px 0; color:#fff; font-weight:bold;}
.btn_row a { color:#000; font-weight:500; text-transform:uppercase;}
.form_white_box { background:#fff; border-radius:6px; padding:30px; box-shadow:  0px 0px 15px 5px rgba(0,0,0,0.16); width:100%;}
.form_white_box h2 { padding:0 0 10px 0; color:#1d2a78; font-weight:bold;}
.form_white_box h5 { padding:0 0 30px 0; font-size:19px; color:#000; font-weight:500;}
.gplay-icon-02{max-width: 50%}
.who_can_apply_section {}
.who_can_apply_wrapper { padding-bottom:50px;}
.who_can_apply_wrapper h2 { padding-bottom:20px; font-weight:bold; color:#1d2a78;}
.icon_box_wrapper { text-align:center;}
.icon_box_wrapper figure { margin:0px; padding:0px;}
.icon_box_wrapper figcaption {margin:0px; padding:0 0 15px; line-height:2rem;}
.icon_box_wrapper a { color:#000; font-size:1.2rem; text-decoration:none; }
.icon_box_wrapper a:hover { color:#1d2a78;} 
.icon_box_wrapper .btn_row { text-align:center; padding-top:50px;}
.icon_box_wrapper .btn_row a { background:#1d2a78; color:#fff; font-weight:500; text-transform:none; padding:20px 30px; border-radius:6px; text-transform: uppercase; transition: all 0.2s ease-in-out 0s;  box-shadow: 0 20px 20px rgba(0,0,0,0.2); font-size:1.2rem;}
.icon_box_wrapper .btn_row a:hover { box-shadow: 0 5px 5px rgba(0,0,0,0.2); padding:20px 20px;}
.documents_required_wrapper {}
.documents_required_img_box { padding:20px 100px;}

/*Navigation Start*/
*{padding: 0; margin: 0}
ul, li{list-style: none}
img{max-width: 100%}
.overflowh{overflow: hidden}
.nav-icon, .nav-icon:hover, .nav-icon:focus, .nav-icon:active, .nav-icon:focus:active{
  background-color: transparent;
  border-color: transparent;
  box-shadow: none}
.btRound {
  margin-top: -20px;
  position:absolute; 
  left:-15px; 
  top:50%; 
  z-index:9999; 
  width:40px; 
  height:40px; 
  border:2px solid #fff; 
  background:#fff; 
  border-radius:50%; 
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  cursor:pointer;} 
.btRound span {
  color: #1d2a78;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px
}
.navWrapper { 
  background:#fff; 
  border:1px solid #ddd; 
  border-radius:8px; 
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  padding:35px 20px; 
  position:absolute; 
  left:20px; 
  top:20px; 
  width: calc(100% - 40px); 
  box-sizing: border-box; 
  z-index:101; text-align:center;
}
.nav-home {display: none}
.navWrapper ul {margin:0}
.navWrapper li {
  margin:0 15px;
  padding: 7px;
  display:inline-block}
.navWrapper li:hover,
.navWrapper li.active{
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 7px;
  /* Firefox */
  -moz-transition: all 0.2s ease-in;
  /* WebKit */
  -webkit-transition: all 0.2s ease-in;
  /* Opera */
  -o-transition: all 0.2s ease-in;
  /* Standard */
  transition: all 0.2s ease-in;
}
.navWrapper li a {
  color: #252525;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  line-height: 1.2rem;
}
.navWrapper li a:hover{
  color: #1d2a78;
  font-weight: 700;
  text-decoration: none;
}
.navWrapper li img{max-width:142px}
.navWrapper .nav-dv{display: block}
.navWrapper ul li.dropdown .dropdown-menu{
  border-top: 2px solid #1d2a78;
  border-top-left-radius:0;
  border-top-right-radius:0;
  margin-top: 5px;
  margin-left: -12px;
}
.dropdown-item:hover{
  background-color: #fff !important;
  color: #803d94 !important;
  font-weight: 600;
}
/*Navigation End*/
/*Services Form Start*/
.select-dropdn{
  border: 1px solid #1d2a78;
  background-color: #fff;
  border-radius: 4px;
  height: 45px;
  margin: 0;
  width: 100%}
.select-dropdn select{
  border: none;
  color: #1d2a78;
  height: 100% !important;
  margin: 0;
  width: 100%}
.select-dropdn:before{
  content: '';
  right: 0;
  top: 0;
  width: 40px;
  height: 43px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  pointer-events: none;
  display: block}
.select-dropdn:after{
  border-top: 8px solid #707070;
  border-right: 8px solid rgba(0,0,0,0);
  border-left: 8px solid rgba(0,0,0,0);
  content: '';
  display: block;
  height: 0;
  margin-top: -4px;
  right: 20px;
  top: 50%;
  position: absolute;
  pointer-events: none;
  width: 0}
/*Services Form End*/
/*Documents Required Start*/
.requirement-dv, .blog-dv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  /*font-size: 20px*/}
.requirement-dv h2{color:#1d2a78}
.requirement-list, .requirement-list li ul {padding-left: 20px}
.requirement-list li{
  color:#1d2a78;
  font-weight: 700;
  line-height: 2rem;
  list-style: disc}
.requirement-list li li{list-style: circle}
/*Documents Required End*/
/*Video Slider Start*/
.video-slider .owl-prev, .video-slider .owl-next {
  height: 47px;
  text-align: center;
  margin-top: -24px;
  position: absolute;
  top: 50%;
  width: 40px}
.video-slider .owl-prev {left: 25px}
.video-slider .owl-next {right: 25px}
.video-slider .owl-prev i, .video-slider .owl-next i, .query-silder i {
  color: #1d2a78;
  font-size: 30px}
.video-slider .disabled{display: none}
.banner-contnt {
  font-size: 18px;
  left: 5%;
  position: absolute;
  top: 25%;
  flex-direction: row;
  align-items: center;
  z-index: 101;
}

.video_slider_box { width:100%; height:800px;}
.banner-contnt h2{color: #fff; font-size: 2rem}
.banner-contnt div{
  background-color: #fff;
  border-radius: 4px;
  color: #6c6c6c;
  padding: 20px}
.banner-contnt p{
  position: relative;
  padding: 20px 20px 0}
.banner-contnt p i.fa-quote-left{
  position: absolute;
  left: 0;
  top: 0}
.banner-contnt p i.fa-quote-right{
  position: absolute;
  right: 0}
.banner-contnt p span{
  font-size: 14px;
  margin-top: 10px}
/*Video Slider End*/
/*Registration Start*/
.register-bx{
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 50px
}
.options {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-right: 20px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.options input {
  position: absolute;
  opacity: 0;
  cursor: pointer}
.options .checkmark {    
  border: 1px solid #1d2a78;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%}
.options input:checked ~ .checkmark {background-color: #1d2a78}
.options .checkmark:after {
  content: "";
  position: absolute;
  display: none}
.options input:checked ~ .checkmark:after {display: block}
.form-fld{
  border: 1px solid #1d2a78;
  background-color: #fff;
  border-radius: 4px;
  color: #1d2a78;
  font-weight: 700;
  height: 45px;
  margin: 0;
  width: 100%}
textarea.form-fld{
  height: 100px; 
  resize: none}
.form-fld::-webkit-input-placeholder {color: #1d2a78}
.form-fld::-moz-placeholder {color: #1d2a78}
.form-fld:-ms-input-placeholder {color: #1d2a78}
.form-fld:-moz-placeholder {color: #1d2a78}
.select-dropdn1 select{font-weight: 700}
.select-dropdn1:after{
  border-top: 8px solid #1d2a78;
  border-right: 8px solid rgba(0,0,0,0);
  border-left: 8px solid rgba(0,0,0,0)}
.form-fld input{
  border: none;
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  height: 43px}
.form-fld .custom-file-label{
  height: 43px;
  margin-bottom: 0}
.form-fld .custom-file-label:after{
  background-color: #1d2a78;
  color: #fff;
  height: 43px;
  line-height: 30px;
  top: -1px;
  right: -1px}
/*.submit-btn, .submit-btn:hover, .submit-btn:focus, .submit-btn:active, .submit-btn:focus:active{
    border-color: #1d2a78;
    background-color: #1d2a78}
  
*/
.submit-btn { background:#1d2a78; color:#fff; font-weight:500; text-transform:none; padding:20px 30px; border-radius:6px; text-transform:uppercase; transition: all 0.2s ease-in-out 0s; display:inline-block; box-shadow: 0 25px 15px rgba(0,0,0,0.2); font-size:1.2rem; }

.submit-btn:focus, .submit-btn:active, .submit-btn:focus:active, .submit-btn:hover { background:#1d2a78; text-decoration:none; box-shadow: 0 5px 5px rgba(0,0,0,0.2); padding:20px 25px;}



/*Registration End*/
.blog-dv .readmore{text-decoration: underline}
/*Footer Start*/
.footer {font-size: 14px; line-height: 1.5rem;}
.footer h3{font-size: 16px}
.footer a{
  color: #212529; 
  text-decoration: underline}
.footer ul li{margin-bottom: 10px}
.footer ul li a{text-decoration: none}
.footer ul li a:hover{text-decoration: underline}
.footer img{max-width: 40px}
.footer-gplay{
  margin-top: 7px;
  min-width: 70px;
  vertical-align:top;}
.footer .contact-no{
  color: #72d896;
  font-size: 28px;
  line-height: 30px;
  text-decoration: none}
.footer .contact-no span{margin-right: 10px}
.ftr-btm-dv a{margin-right: 10px}
.ftr-btm-dv a:last-of-type{margin-right: 0}
/*Query Slider Start*/
.query-silder{overflow: hidden}
.query-silder .carousel-indicators{
  display: block;
  position: relative;
  margin: 0}
#slider {max-width:1170px; margin:0 auto;}
.query-silder .carousel-inner{  padding: 0 75px;}
.query-silder .carousel-inner .carousel-control-next, .query-silder .carousel-inner .carousel-control-prev{
  background-color: #fff;
  opacity: 1}
.query-silder .carousel-indicators li{
  border: none;
  border-radius: 5px;
  background-color: #72a5d8;
  color: #fff;
  height: auto;
  font-size: 18px;
  flex: none;
  opacity: 1;
  margin: 0 0 10px;
  padding: 20px;
  text-indent: 0;
  width: auto}
.query-silder .carousel-indicators li:last-of-type{margin: 0}
.query-silder .carousel-indicators li.active{
  background-color: #1d2a78}
/*Query Slider End*/
/*Breadcrumb Start*/
.breadCrumb{
  background-color: #72A5D8;
  margin-top:130px;
  margin-bottom: 60px;
  padding-top:25px}
.breadCrumb li{display: inline}
.breadCrumb li, .breadCrumb li a{
  color: #fff}
.breadCrumb li a{margin-right: 5px}
/*Breadcrumb End*/
/*How Does It Work Start*/
.hd-txt{
  color: #00004c;
  font-size: 64px;
  font-weight:200;
  line-height: 60px;
  text-transform: uppercase
}
.hd-txt span{
  display: block;
  font-size: 36px !important;
  font-weight: 700;
  line-height: 40px}
.normal-txt{text-transform: initial}
.hw-left-video{
  float: left;
  /*margin-right:20px;*/
  margin-left:0px !important;
  padding-left:0px;
  /* max-width: 48%;*/
}
.hw-it-video { height:500px;}
.hw-right-video{
  float: right;
  margin-left:100px;
  max-width: 48%;
}
.subhead-txt{
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  margin: 20px 0;
}
.subhead-txt .step{
  color:#192a78;
  float: left;
  line-height: 36px;
  text-transform: uppercase
}
.subhead-txt .number{
  font-size: 6rem;
  font-weight: 400;
  margin: 0 10px;
}
.marBotm50{margin-bottom: 100px}
.light-blue{color:#6ea3d7}
.purple{color:#752d8c}
.dark-blue{color:#192a78}
.yellow{color:#fcc22c}
.light-blue-bg {background-color: #6ea3d7}

.cirteria-dv{
  color: #fff;
  /*    font-size: 18px;*/
  padding: 20px 0
}
.cirteria-dv h2{font-weight: 700}
.cirteria-dv a{color: #fff}
.cirteria-dv ul{margin: 0}
.cirteria-dv li{
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative}
.cirteria-dv li i{
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 6px}
.cirteria-dv li a{text-decoration: underline}
.cirteria-dv li a:hover{text-decoration: none}
.ppl-img {
  /*margin-top: -95%;
  margin-bottom: 20px;*/
  margin-top: -70%;
  margin-bottom: 20px;
  margin-left: 5%;
  width: 70%;
}
/*How Does It Work End*/


.register-bx { padding:30px 30px;}
.abt_inner_wrapper {}
.abt_header h2 { margin:0px; padding:0px; font-size:60px; text-transform:uppercase; font-weight:normal; color:#2B3275; }
.abt_header h3 { margin:0px; padding:0px; font-size:30px; color:#2B3174; font-weight:bold; position:relative; top: -15px; }
.img-right { float:right; margin:0 0 15px 30px;}
.team_photo_wrapper { background:#1d2a78; padding:100px 0; text-align:center; color:#fff;}
.headerStyle3 { margin:0px; padding:0 0 30px 0;}
.headerStyle3 h2 { font-weight:bold; color: #1d2a78;}
.headerStyle3 h3 { color: #1d2a78;}
.instant_loan_row { padding:70px 0 0 0;}
.instant_loan_wrapper {}
.inst_cont_wrapper { }
.btn_blue_row { display:inline-block; padding-top:40px; padding-bottom:40px;}
.btn_blue_row a { background:#1d2a78; color:#fff; font-weight:500; text-transform:uppercase; padding:20px 30px; border-radius:6px;  transition: all 0.2s ease-in-out 0s; display:inline-block; box-shadow: 0 25px 15px rgba(0,0,0,0.2);}
.btn_blue_row a:hover { text-decoration:none; box-shadow: 0 5px 5px rgba(0,0,0,0.2); padding: 20px 25px;}
.contact_shadow_box { background:#fff; border:0px solid #9AA7A9; border-radius:6px; padding:20px 25px; box-shadow:  -5px 5px 15px 5px rgba(0,0,0,0.16); width:100%;}
.contact_shadow_box .phone_icon { background: url(https://d2lsroqb4gk0oy.cloudfront.net/images/web/phone-call.svg) no-repeat 0 5px; padding: 5px 0 5px 36px; background-size: 24px auto; }
.contact_shadow_box .email_icon { background: url(https://d2lsroqb4gk0oy.cloudfront.net/images/web/email.svg) no-repeat 0 7px; padding: 5px 0 5px 36px; background-size: 24px auto; }
.contact_shadow_box p { margin:0px; padding:0px;}
.phone_icon { color:#7BA9D9; font-size:16px; text-transform:uppercase; font-weight:bold;}
.contact_shadow_box .phone_no a {							  
  color: #72d896;
  font-size: 28px;
  line-height: 30px;
  text-decoration: none;
  font-weight:bold;					  
}
.email_icon { color:#7BA9D9; font-size:16px; text-transform:uppercase; font-weight:bold;}				
.email_id a {
  color: #2B3274;
  font-size: 22px;
  line-height: 30px;
  text-decoration: none;
  font-weight:bold;	
}
.img_row_left { margin-bottom:30px !important;}
.img-shadow{box-shadow:0px 6px 8px rgb(180, 180, 180, 0.7); border-radius: 10px;}
.container_vert_align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;									
}
.noExtensive-list, .noExtensive-list li ul {padding-left: 20px}
.noExtensive-list li{
  color:#1d2a78;
  font-weight: 700;
  list-style: disc}



/*Banner start*/

#parallax-container div{
  background-size: cover;
  height: 650px;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateY(0px);
  width: 100%;
}
#banner-slider .item img{
  display: block;
  width: 100%;
  height: auto;
}
.center-container{
  background-color: #fff;
  z-index: 1001;
}

/*FAQ STYLES */

h2.hdr {
  color: #1d2a78;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 30px;

  text-transform: uppercase;
}
h4.hdr{
  color: #1d2a78;
  font-size: 1.8rem;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;

}